@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');

* { box-sizing: border-box; }

#content {
    width: 60vw;
    margin: 0 auto;
    text-align: center;
    font-family: 'Andika New Basic', sans-serif;
}

button { background-color: rgba(77, 149, 182, 0.4); }

input { background-color: rgba(200, 50, 200, 0.4); }

button, input {
    border: none;
    margin: 10px;
    border-radius: 5px;
    padding: 5px 15px;
}

table { width: 100%; }

.delete { color: red; }
.update { color: green; }